# System Workbench specific files
bin/
tmp/
*.tmp
*.bak
*.swp
~.nib 
local.properties
.settings/
*.loadpath
*.recommenders
.externalToolBuilders/
*.launch 
*.pydevproject 
*.classpath
*.factorypath
*.buildpath
*.target
*.tern-project
*.texlipse
*.springBeans
.recommenders/ 

# Listing files
*.cod
*.htm
*.i
*.lst
*.list
*.map
*.m51
*.m66
# define exception below if needed
*.scr

# Object and HEX files
*.axf
*.b[0-3][0-9]
*.hex
*.d
*.crf
*.elf
*.hex
*.h86
*.lib
*.mk
*.obj
*.o
*.sbr
makefile

# Build files
# define exception below if needed
*.bat
*._ia
*.__i
*._ii

# Generated output files
/Listings/*
/Objects/*

# Debugger files
# define exception below if needed
*.ini

# Other files
*.build_log.htm
*.cdb
*.dep
*.ic
*.lin
*.lnp
*.orc
# define exception below if needed
*.pack
# define exception below if needed
*.pdsc
*.plg
# define exception below if needed
*.sct
*.sfd
*.sfr

# Miscellaneous
*.tra
*.bin
*.fed
*.l1p
*.l2p
*.iex